<!DOCTYPE html>
<html lang="en">
    {% include 'head.html' %}
<body>
    {% include 'nav.html' %}
    <div class="container-fluid breakingNews">
        <div class="container">
            <div class="text-center mx-auto mb-2 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 900px;">
                <h1 class="display-5 mb-4">About us</h1>
                <p>Get the Latest news as short as headlines.
                    Thank you for visiting, if you have any query concern please connect us on X.
                    please provide you feedback by filling the feedback form.
                    Your valueable feedback is a motivation for us in order to improve.    
                </p>
            </div>
        
    </div>
        {% include 'footer.html' %}
</body>
</html>