<div class="container mt-4" id="welcome-message-container">
    {% for message in flash_messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
     
    <div class="row row-cols-1 row-cols-md-2">
        {% for result in processed_results %}
            {% include 'card.html' %}
        {% endfor %}
    </div>
</div> 