<div class="breakingNews-item text-center rounded p-4">
    <div class="breakingNews-icon d-inline-block rounded p-4 mb-4">
        {% for category in configure.categories %}
        {% if category.name == result.category %}
            <i class="fas fa-{{ category.image_name }} fa-5x text-secondary"></i>
        {% endif %}
        {% endfor %}    
    </div>
    <div class="breakingNews-content">
        {% if result.country %}
        <h4 class="mb-4">{{ result.category }} - {{ result.country }}</h4>
         {% else %}
        <h4 class="mb-4">{{ result.category }}</h4>
        {% endif %}
        <strong><small class="text-muted">{{ result.published_date_time_ist }}</small>
        </strong>
        <p class="mb-4">
            <span>{{ result.news_text }}</span>
            <span>
                <a href="{{ result.news_url }}" class="spacing">Read More</a>
            </span>
        </p>
        <a href="{{ result.post_on_x }}{{ result.news_text|urlencode }}%0A{{ request.url|urlencode }}" target="_blank" class="btn btn-light rounded-pill text-primary py-2 px-4">Post on X</a>
        </div>
</div>