<div class="container mt-4">
  <h1>Feedback Form</h1>
  <span class="badge rounded-pill bg-info text-dark">upto 250 Characters are allowed</span>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="alert alert-danger mt-3">
        {{ messages[0] }}
      </div>
    {% endif %}
  {% endwith %}
  <form class="row" method="POST" onsubmit="return validateForm();">
    <div class="mb-3">
      <label for="inputName" class="form-label">Name</label>
      <input type="text" name="name" class="form-control" id="inputName" placeholder="Name" maxlength="50">
      <div id="nameWarning" class="text-danger"></div>
    </div>
    <div class="mb-3">
      <label for="inputFeedback" class="form-label">Feedback</label>
      <textarea class="form-control" name="feedback" id="inputFeedback" rows="3" placeholder="Please provide your Suggestion" maxlength="250"></textarea>
      <div id="feedbackWarning" class="text-danger"></div>
    </div>
    <div class="col-6">
      <button type="submit" class="btn btn-dark">Submit</button>
    </div>
  </form>
</div> 