<footer class=" mt-4">
    <ul class="nav justify-content-center border-bottom py-2 my-2">
    <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Privacy Policy</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Terms of Service</a></li>
    <li class="nav-item"><a href="{{ url_for('index') }}" class="nav-link px-2 text-body-secondary">Home</a></li>
    <li class="nav-item"><a href="{{ url_for('feedback') }}" class="nav-link px-2 text-body-secondary">Feedback</a></li>
    </ul>
    <div class="py-2">
        <p class="text-center text-body-secondary " id="company">News Sourced from Google News</p>
    </div>
</footer>